* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);
  --White: hsl(0, 0%, 100%);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

body {
  height: 100vh;
  background-color: var(--Very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  body {
    height: auto;
    background-color: var(--Very-dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.container {
  width: 75vw;
  height: 65vh;
  max-width: 1100px;
  max-height: 65vh;
  background-color: var(--Dark-desaturated-blue);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    width: 90%;
    height: auto;
    max-height: none;
    padding-bottom: 0.1rem;
  }
}

.left,
.right {
  overflow: hidden;
  position: relative;
  border-radius: 0 10px 10px 0;
}

.left {
  padding: 3rem;
  padding-right: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Lexend Deca", sans-serif;
}

@media screen and (max-width: 600px) {
  .left {
    width: 100%;
    padding: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .right {
    width: 100%;
    height: 270px;
    border-radius: 10px 10px 0 0;
  }
}

.left .title {
  color: var(--White);
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .left .title {
    margin-top: 1.25rem;
    font-size: 1.75rem;
    text-align: center;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
}

.left .title .mark {
  color: var(--Soft-violet);
}

.left .text {
  color: var(--Slightly-transparent-white);
  margin-bottom: 4rem;
  line-height: 1.5rem;
  word-spacing: 3px;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .left .text {
    margin-bottom: 2rem;
    word-spacing: 2px;
    text-align: center;
  }
}

.left .footer {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 600px) {
  .left .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    font-size: 20px;
  }
}

.left .footer {
  margin-right: 2rem;
}

.left .footer .item .value {
  text-transform: uppercase;
  font-size: 1.75rem;
  color: var(--White);
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
  .left .footer .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .left .footer .item .value {
    margin-bottom: 0.5rem;
  }
}

.left .footer .item .label {
  font-family: "Lexend Deca";
  text-transform: uppercase;
  color: var(--Slightly-transparent-white);
  font-size: 0.85rem;
}

.right img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.right .violet-background {
  width: 100%;
  height: 100%;
  background-color: hsl(277deg 100% 34%);
  opacity: 0.5;
  z-index: 2;
}